html,
body {
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
}

* {
   box-sizing: border-box;

}

*:focus {
   outline: 0 !important;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}

.mx-auto {
   margin-left: auto;
   margin-right: auto;
}

.px-4 {
   padding-left: 1rem;
   padding-right: 1rem;
}

.h-full {
   height: 100%;
}

.flex {
   display: flex;
}

.content-center {
   justify-content: center;
   align-items: center;
}

.items-center {
   align-items: center;
}

.justify-center {
   justify-content: center;
}

.w-full {
   width: 100%;
}


.pt-6 {
   padding-top: 1.5rem;
}

.mb-6 {
   margin-bottom: 1.5rem;
}

.bg-gradient-to-r {
   background: linear-gradient(to right, #6366f1, #4f46e5);
}

.from-purple-400 {
   background-color: #a78bfa;
}

.to-indigo-500 {
   background-color: #907ad6;
}

.rounded-lg {
   border-radius: 0.5rem;
}

.bg-opacity-50 {
   background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-filter {
   backdrop-filter: blur(8px);
}

.border-0 {
   border: none;
}



.flex-auto {
   flex: 1 1 auto;
}

.px-10 {
   padding-left: 2.5rem;
   padding-right: 2.5rem;
}

.py-10 {
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
}

.pt-0 {
   padding-top: 0;
}

.mt-6 {
   margin-top: 1.5rem;
}

.text-blueGray-300 {
   color: #cbd5e0;
}

.text-center {
   text-align: center;
}

.mb-8 {
   margin-bottom: 2rem;
}

.font-bold {
   font-weight: bold;
}

h4 {
   font-size: 2rem;
   letter-spacing: 2px;
}

.relative {
   position: relative;
}

.w-full {
   width: 100%;
}

.mb-3 {
   margin-bottom: 0.75rem;
}

.block {
   display: block;
}

.uppercase {
   text-transform: uppercase;
}

.text-xs {
   font-size: 0.75rem;
}

.absolute {
   position: absolute;
}

.text-blueGray-300 {
   color: #cbd5e0;
}

.text-xs {
   font-size: 0.75rem;
}

.mb-2 {
   margin-bottom: 0.5rem;
}

.required::after {
   content: '*';
   color: red;
}

.active {
   background-color: #1a202c;
}

.hover\:shadow {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.outline-none {
   outline: none !important;
}

.focus\:outline-none {
   outline: none !important;
}

.mr-1 {
   margin-right: 0.25rem;
}

.mb-1 {
   margin-bottom: 0.25rem;
}

.w-full {
   width: 100% !important;
}

.ease-linear {
   transition-timing-function: linear;
}

.transition-all {
   transition-property: all;
}

.duration-150 {
   transition-duration: 150ms;
}

.text-white {
   color: #fff;
}

.active\:bg-blueGray-600 {
   background-color: #2d3748;
}

.text-sm {
   font-size: 0.875rem;
}

.font-bold {
   font-weight: bold;
}

.uppercase {
   text-transform: uppercase;
}

.px-6 {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

.py-3 {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
}

.rounded {
   border-radius: 0.25rem;
}

.shadow {
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.hover\:shadow-lg {
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text-center {
   text-align: center;
}

.mt-6 {
   margin-top: 1.5rem;
}

.relative {
   position: relative;
}



.text-right {
   text-align: right;
}